<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studio.yishujutan.dao.CircleDao">

    <select id="getCirclesIconAndName" resultType="com.studio.yishujutan.entity.Circle">
        select circle_id,circle_icon,circle_name from circle
        where circle_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getCircleInfo" parameterType="String" resultType="com.studio.yishujutan.entity.Circle">
        select circle_id,circle_name,circle_category,circle_description,circle_bg
        from circle where circle_id = #{circle_id}
    </select>

</mapper>