<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studio.yishujutan.dao.EssayDao">

    <insert id="insertIntoEssay" parameterType="com.studio.yishujutan.entity.Essay">
      insert into essay (essay_id,essay_tittle,essay_content,user_id)
      values (#{essay_id},#{essay_title},#{essay_content},#{user_id})
    </insert>

    <select id="selectEssaysByHotDegree" parameterType="int" resultType="com.studio.yishujutan.entity.Essay">
        select essay_title,user_id,essay_content,hava_picture,essay_picture
        from essay order by hot_degree desc limit #{number};
    </select>

    <select id="selectEssaysByFollows" resultType="com.studio.yishujutan.entity.Essay">
        select essay_title,user_id,essay_content,hava_picture,essay_picture
        from essay
        where user_id in
              (select object_id from follow where user_id = #{user_id})
        order by issue_date desc limit #{number};
    </select>

    <select id="selectLastEssayById" parameterType="String" resultType="com.studio.yishujutan.entity.Essay">
        select essay_content,issue_date from essay where user_id = #{user_id} order by issue_date desc limit 1;
    </select>

    <select id="selectEssaysById" resultType="com.studio.yishujutan.entity.Essay">
        select essay_title,essay_content,hava_picture,essay_picture
        from essay
        where user_id = #{user_id} limit 5;
    </select>

    <select id="selectEssaysByCircleId" resultType="com.studio.yishujutan.entity.Essay">
        select essay_id,user_id,essay_title,essay_content,hava_picture,essay_picture
        from essay
        where essay_status = 'circle' and circle_id = #{circle_id}
        order by issue_date desc
        limit #{number1},#{number2}
    </select>



</mapper>