<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studio.yishujutan.dao.PraiseDao">

    <insert id="doPraise">
        insert into praise
        values (#{praise_id},#{user_id},#{essay_id},#{praise_status},#{praise_date});
    </insert>

    <select id="isPraised" resultType="com.studio.yishujutan.entity.Praise">
        select praise_id from praise where user_id = #{user_id} and essay_id = #{essay_id}
    </select>

    <delete id="cancelPraise" parameterType="com.studio.yishujutan.entity.Praise">
        delete from praise where user_id = #{user_id} and essay_id = #{essay_id}
    </delete>
</mapper>