<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studio.yishujutan.dao.UserDao">

    <select id="getUserIconAndNickNameById" resultType="com.studio.yishujutan.entity.User" parameterType="String">
      select user_id,nickname,icon from user where user_id = #{user_id}
    </select>

    <select id="getUserPageInfo" parameterType="String" resultType="com.studio.yishujutan.entity.User">
      select icon,nickname,signature,follow_number,follower_number,page_bg,wechat from user
      where user_id = #{user_id}
    </select>

    <select id="isRegister" parameterType="String" resultType="com.studio.yishujutan.entity.User">
        select user_id from user where user_id = #{user_id}
    </select>

    <insert id="register" parameterType="com.studio.yishujutan.entity.User">
        insert into user (user_id,nickname,icon) values (#{user_id},#{nickname},#{icon})
    </insert>

</mapper>